body, html{
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-logo{
  padding-left: 50px;
}
.sidebar{
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  height: 100vh;
  float: left;
  overflow: 'scroll initial';
}
.side-row{
  padding: 30px;
}
.log{
  padding-left: 80px;
  margin-top: 30px;

}
.my-form{
  padding: 40px;
  margin-left: 40px;
  height: 800px;
  width: 900px;

}

.pagination{
  text-align: center;
  margin-bottom: 70px;
}

